body {
    font-family: 'Raleway';font-size: 22px;
}

.content {
  padding-bottom: 5%;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.screens {
  margin: auto;
  display: inline-block;
  width: 30%;
  padding: 5%;
}

.persona-img {
  margin: auto;
  display: inline-block;
  width: 30%;
  padding: 5%;
}

.task-analysis-img {
  width: 80%;
  padding: 5%;
}

/* #navbarNav {
  background-color: #234E5A;
} */

#domain-analysis {
  display: inline-block;
}

#paperScreens {
  width: 40%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.domain-analysis-list {
  display: inline-block;
  width: 20%;
  margin-left: 3%;
}


 #home-title-blue {
   color: blue;
 }
