h1 {
    font-family: 'Raleway';font-size: 30px;
}

body {
  font-family: 'Raleway';
}

#welcome { font-size: 10px;}


#menu {
    color:red;
    display:block;
    float:left;
}
#title {
    color:black;
    display:inline-block;
}
#profile {
  padding-left: 50;
}
.container-fluid {
    margin:0 auto;
    display:inline-block;
    text-align:center;
}



/* https://www.w3schools.com/charsets/ref_emoji.asp
&#id;
127849 = donut
127850 = cookie
*/
